@import "./src/styles/header.css";
@import "./src/styles/overview-page.css";
@import "./src/styles/typography.css";

* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;

  color-scheme: light;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  position: relative;
  min-height: 100vh;
}

#app {
  font-family: "Inter", sans-serif;
  margin-inline: auto;
  max-width: 960px;
  padding: 32px;
  width: 100%;
}
