.cities {
  display: flex;
  gap: 32px;
  padding: 80px 0 48px;
}

.cities__city {
  color: #e6e6e6;
  cursor: pointer;
  user-select: none;
}

.cities__city--selected {
  color: #000000;
}

.day-statistics {
  display: flex;
  gap: 48px;
  padding-bottom: 64px;
}

.day-statistic__label {
  color: #c3c3c3;
  margin-bottom: 8px;
}

.latest-measurements__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.latest-measurements__caption {
  color: #c3c3c3;
  margin-bottom: 4px;
}

.chips {
  display: flex;
  gap: 16px;
}

.chip {
  background-color: #f8f8f8;
  border-radius: 32px;
  color: #c3c3c3;
  cursor: pointer;
  padding: 12px 16px;
}

.chip:hover {
  outline: 2px solid #f4f4f4;
}

.chip--selected {
  color: #3c3c3c;
  outline: 2px solid #f4f4f4;
}

.measurement-data {
  display: none;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 24px;
}

.measurement-data__record {
  cursor: help;
  opacity: 0.4;
  transition: opacity 350ms ease;
}

.measurement-data__record:hover {
  opacity: 1;
}

.upload-leaf {
  background-color: #f8f8f8;
  border-radius: 32px;
  bottom: 40px;
  color: #000000;
  left: 50%;
  padding: 12px 24px;
  position: absolute;
  text-decoration: none;
  transform: translateX(-50%);
}

.upload-leaf:hover {
  outline: #f4f4f4 2px solid;
}
