.f-500 {
  font-weight: 500;
}

.f-600 {
  font-weight: 600;
}

.f-700 {
  font-weight: 700;
}

.f-11 {
  font-size: 11px;
  letter-spacing: 0.005em;
  line-height: 15px;
}

.f-15 {
  font-size: 15px;
  letter-spacing: -0.009em;
  line-height: 21px;
}

.f-20 {
  font-size: 20px;
  letter-spacing: -0.017;
  line-height: 28px;
}

.f-64 {
  font-size: 64px;
  letter-spacing: -0.022em;
}
